.alert {
  padding: 15px;
  margin: 20px;
  border: 1px solid transparent;
  border-radius: 4px;
  &.success {
    color: $alertColorSuccess;
    background-color: lighten($alertColorSuccess, 50%);
    border-color: lighten($alertColorSuccess, 45%);
  }
  &.info {
    color: $alertColorInfo;
    background-color: lighten($alertColorInfo, 50%);
    border-color: lighten($alertColorInfo, 45%);
  }
  &.warning {
    color: $alertColorWarning;
    background-color: lighten($alertColorWarning, 50%);
    border-color: lighten($alertColorWarning, 45%);
  }
  &.danger {
    color: $alertColorDanger;
    background-color: lighten($alertColorDanger, 50%);
    border-color: lighten($alertColorDanger, 45%);
  }
}