$backColorDefault:#FFF;
$borderColorDefault:#cecece;
$textColorDefault:black;

$textColorBtnBlue:#FFF;
$backColorBtnBlue:#337AB7;
$borderColorBtnBlue:#2E6DA4;

$textColorBtnGreen:#FFF;
$backColorBtnGreen:#5CB85C;
$borderColorBtnGreen:#4CAE4C;

$textColorBtnRed:#FFF;
$backColorBtnRed:#D9534F;
$borderColorBtnRed:#D43F3A;

.btn{
  color:$textColorDefault;
  display: inline-block;
  line-height: 1rem;
  padding: 6px 12px;
  font-size: 1rem;
  font-weight: 400;
  text-align: center;
  white-space: nowrap;
  vertical-align: middle;
  cursor: $cursorButton;
  border: 1px solid $borderColorDefault;
  border-radius: $borderRadiusButton;
  background-color:$backColorDefault ;
  &:hover, &:focus{
    background-color:darken($backColorDefault,10);
  }
  &:active{
    background-color:darken($backColorDefault,20);
  }
}

.btn-lg{
  padding: 10px 16px;
  font-size: 1.4rem;
  border-radius: $borderRadiusButton;

}

.btn-sm{
  padding: 5px 10px;
  font-size: 0.6rem;
  border-radius: $borderRadiusButton;
}

.btn-blue{

  color:$textColorBtnBlue;
  background-color: $backColorBtnBlue;
  border-color:$borderColorBtnBlue ;
  &:hover, &:focus{
    background-color:darken($backColorBtnBlue,10);
  }
  &:active{
    background-color: darken($backColorBtnBlue,20);
  }
}

.btn-green{
  color: $textColorBtnGreen;
  background-color: $backColorBtnGreen;
  border-color: $borderColorBtnGreen;
  &:hover, &:focus{
    background-color:darken($backColorBtnGreen,10);
  }
  &:active{
    background-color: darken($backColorBtnGreen,20);
  }
}

.btn-red{
  color: $textColorBtnRed;
  background-color: $backColorBtnRed;
  border-color: $borderColorBtnRed;
  &:hover, &:focus{
    background-color:darken($backColorBtnRed,10);
  }
  &:active{
    background-color: darken($backColorBtnRed,20);
  }
}

.btn-flat{
  border: none;
  border-radius: 0%;
}
.btn-extralg{
  display: block;
  width: 100%;
}

.btn-fancy{
  background: linear-gradient(135deg,  lighten(red,30%), red);
  text-shadow: 0px 1px 1px;
  transition: all 0.1s;
  box-shadow: 0px 5px 5px darken(red,5);
  &:hover, &:focus{
    background:linear-gradient(135deg,  white, darken(red,5));
    box-shadow: 0px 5px 5px darken(red,5);
  }
  &:active{
    background:linear-gradient(135deg,  white, darken(red,10));
    box-shadow: 0px 2px 2px darken(red,10);
    text-shadow: none;
  }
}

