.header {
  padding-bottom: 10px;
  padding-top: 10px;
  margin-bottom: 20px;
  border-bottom: 1px solid #CCCCCC;
}


.jumbotron {
  background-color: #EEE;
  border-radius: 6px;
  padding-left: 5%;
  padding-right: 5%;
  h1, .h1 {
    font-size: 3rem;
    padding-bottom: 10px;
    padding-top: 20px;
  }
  p {
    padding-bottom: 15px;
  }

}

.navbar {
  width: 100%;
  font-family: 'PT Sans', Arial, sans-serif;
  background: #EEEEEE;
  font-weight: bold;
  li {
    display: inline-block;
    padding: 10px;
    border-bottom: 1px solid #CCCCCC;
    border-left: 1px solid #CCCCCC;
    overflow: hidden;
  }
  a {
    color: #BBBBBB;
    text-decoration: none;
    font-size: 1.2rem;
    &:hover {
      color: black;
    }
  }
  .active a {
    color: #285F8F;
    &:hover {
      color: black;

  }
  }
  .disabled a{
    color: #FFFFFF;
    cursor: not-allowed;
  }
}
/*Styles for screen 600px and lower*/
@media screen and (max-width: 40rem) {
  .navbar {
    li {
      width: 100%;
      border-bottom: 2px solid #BBB;
      padding-bottom: 10px;
      padding-top: 10px;

    }
  }
}

.breadcrumb {
  padding: 8px 15px;
  margin-bottom: 20px;
  list-style: outside none none;
  background-color: #F5F5F5;
  border-radius: 4px;
  a {
    color: #337AB7;
    &:hover {
      text-decoration: underline;
    }
  }
  li {
    display: inline-block;
    & + li:before {
      padding: 0px 5px;
      color: #CCC;
      content: "/ ";
    }
  }
}

.pagination {

  padding-left: 0px;
  margin: 20px 0px;
  border-radius: 4px;

  li {
    display: inline;
    a {
      padding: 6px 12px;
      margin-left: -1px;
      line-height: 1.42857;
      color: #337AB7;
      text-decoration: none;
      background-color: #FFF;
      text-decoration: none;
      color: black;
    }
  }

  .disabled {
    a {
      color: #777;
      cursor: not-allowed;
      background-color: #FFF;
      border-color: #DDD;
    }

  }
  .active {
    a {
      color: #FFF;
      background-color: #337AB7;
      border-color: #337AB7;
      cursor: default;
    }
  }

}
