@mixin grid-col($cols) {
  box-sizing: border-box;
  display: inline-block;
  width: ($cols*$largCol) + (($cols - 1) * $largGoutiere);
  margin: 0 ($largGoutiere/2);
}

@mixin grid-offset($cols) {
  margin-left: $cols * ($largCol + $largGoutiere);
}

@for $cols from 1 to $numCols + 1 {
  .span-#{$cols} {
    @include grid-col($cols);
  }
}

@for $cols from 1 to $numCols {
  .offset-#{$cols} {
    @include grid-offset ($cols);
  }
}

.container {
  width: 80%;
  margin: 0 auto;
}

@media only screen and (max-width: 60rem) {
  .container {
    width: 100%;
  }
}

@function largeur($cols) {
  @return ($cols*$largCol) + (($cols - 1) * $largGoutiere);
}