%corp {
  color: $textColor;
  font-size: $fontSizeBase;
  line-height: 2rem;
}

%titres // h1, h2, h3, h4, h5, h6
{
  color: $colorTitle;
  line-height: 3rem;
  font-family: $fontFamilyTitle;
}

.sub, small {
  color: $colorSubTitle;
  line-height: 2rem;
}

%h1 {
  @extend %titres;
  font-size: $fontSizeBase*2;
  font-weight: $fontWeightTitle;
  .sub, small {
    font-size: $fontSizeBase*1.9;
  }
}

%h2 {
  @extend %titres;
  font-size: $fontSizeBase*1.8;
  font-weight: $fontWeightTitle;
  .sub, small {
    font-size: $fontSizeBase*1.7;
  }
}

%h3 {
  @extend %titres;
  font-size: $fontSizeBase*1.6;
  font-weight: $fontWeightTitle;
  .sub, small {
    font-size: $fontSizeBase*1.5;

  }
}

%h4 {
  @extend %titres;
  font-size: $fontSizeBase*1.4;
  font-weight: $fontWeightTitle;
  .sub, small {
    font-size: $fontSizeBase*1.3;
  }
}

%h5 {
  @extend %titres;
  font-size: $fontSizeBase*1.2;
  font-weight: $fontWeightTitle;
  .sub, small {
    font-size: $fontSizeBase*1.1;
  }
}

%h6 {
  @extend %titres;
  font-size: $fontSizeBase*1.1;
  font-weight: $fontWeightTitle;
  .sub, small {
    font-size: $fontSizeBase;
  }
}

%p {

  word-break: keep-all;
  word-wrap: break-word;
  & + p {
    margin-top: 1rem;
  }

}

%surligner {
  background-color: #fbfcb2;
}

%bold {
  font-weight: 700;
}

%italique {
  font-style: italic;
}

%lien {
  text-decoration: none;
}

%abbreviation {
  border-bottom: 1px dotted black;
  cursor: help;
  &[title] {
    border-bottom: none;
  }
}

%delete {
  text-decoration: line-through;
}

%insert {
  text-decoration: underline;
}

%underline {
  text-decoration: underline;
}

%citation {
  padding: 10px 20px;
  font-size: $fontSizeBase*1.1;
  border-left: 10px solid #A4A4A4;
  border-right: 10px solid #A4A4A4;
  word-break: keep-all;
  word-wrap: break-word;
  line-height: 2rem;
}

%code {
  padding: 2px 4px;
  font-size: $fontSizeBase*0.99;
  color: #C7254E;
  background-color: #F9F2F4;
  border-radius: 0.4rem;
  word-break: keep-all;
  word-wrap: break-word;
}

%preformater {
  display: block;
  padding: 0.2rem;
  font-size: $fontSizeBase*0.9;
  line-height: 2rem;
  color: #333;
  background-color: #F5F5F5;
  border: 1px solid #CCC;
  border-radius: 4px;
  word-break: keep-all;
  word-wrap: break-word;
  white-space: pre-line;
  overflow: auto;
}

%keyboard {
  background-color: #F4F7F8;
  border-radius: 0.2rem;
  border: 1px solid #B4B4B4;
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.2), 0px 2px 0px 0px rgba(255, 255, 255, 0.7) inset;
  display: inline-block;
  font-family: Consolas, "Liberation Mono", Courier, monospace;
  font-size: $fontSizeBase*0.85;
  font-weight: 700;
  line-height: 2rem;
  padding: 2px 4px;
  white-space: nowrap;
}

%unorderedList {
  list-style: disc inside;
  line-height: 2rem;

}

body {
  @extend %corp;
}

h1, .h1 {
  @extend %h1;
}

h2, .h2 {
  @extend %h2;
}

h3, .h3 {
  @extend %h3;
}

h4, .h4 {
  @extend %h4;
}

h5, .h5 {
  @extend %h5;
}

h6, .h6 {
  @extend %h6;
}

strong {
  @extend %bold;
}

em {
  @extend %italique;
}

del {
  @extend %delete;
}

ins {
  @extend %insert;
}

u {
  @extend %underline;
}

a {
  @extend %lien;
}

mark {
  @extend %surligner;
}

abbr {
  @extend %abbreviation;
}

blockquote {
  @extend %citation;
}

code {
  @extend %code;
}

pre {
  @extend %preformater;
}

kbd {
  @extend %keyboard;
}

ul {
  @extend %unorderedList;
}

p {
  @extend %p;
}

.text-left {
  text-align: left;
}

.text-center {
  text-align: center;
}

.text-right {
  text-align: right;
}

.text-justify {
  text-align: justify;
}

.text-lowercase {
  text-transform: lowercase;
}

.text-uppercase {
  text-transform: uppercase;
}

.table {
  width: 100%;
  overflow: hidden;
  background-color: transparent;
  word-break: keep-all;
  word-wrap: break-word;
  > thead > tr > th, > tbody > tr > th {
    font-weight: bold;
  }

  > thead > tr {
    line-height: 2rem;
    border-bottom: 2px solid #949494;
  }

  > tbody > tr {
    line-height: 2rem;
    border-bottom: 1px solid #DDD;
  }

  th, td {
    vertical-align: bottom;
    text-align: left;
    padding: 5px;
  }
}

.table-striped > tbody > tr:nth-of-type(2n+1) {
  background-color: #dfdfdf;
}

.table-bordered {
  border: 2px solid #cecece;
  > tbody > tr > td, > tbody > tr > th, > tfoot > tr > td, > tfoot > tr > th, > thead > tr > td,
  > thead > tr > th {
    border: 2px solid #cecece;
  }
}

.table-hover > tbody > tr:hover {
  background-color: #949494;
}
