//Typographie
$fontWeightTitle: 500;
$colorTitle: black;
$colorSubTitle: #777;
$textColor: black;
$fontFamilyTitle: Helvetica, sans-serif;
$fontSizeBase: 1rem;

//Button
$cursorButton: pointer;
$borderRadiusButton: 10px;

//Alerts
$alertColorSuccess: #3C763D;
$alertColorInfo: #31708F;
$alertColorWarning: #8A6D3B;
$alertColorDanger: #A94442;


//Grille
$numCols:8;
$largGoutiere:2%;
$largCol:(100%-($largGoutiere*$numCols))/$numCols;
