#entete {
  padding-top: 50px;
  padding-bottom: 50px;
  margin-bottom: 50px;
  background-color: #285f8f;
  h1 {
    color: white;
  }
}

#nav {
  position: fixed;
  padding-left: 2rem;
 ul{
   list-style: none;
 }
  a{
    color:#767676;
    font-size: 0.8rem;
    line-height: normal;
  &:hover{
    color: black;
  }
  }
  .menu {
      padding-left: 2rem;

    }
    .sous-menu{
      padding-left: 4rem;
    }

}

pre code {
  color: black;
  background-color: inherit;
}

.exemple {
  margin-top: 1rem;
  width: 100%;
  border: 2px solid #CCCCCC;
  border-radius: 6px;
  padding: 10px;
}

.balise {
  color: red;
}

@media screen and (max-width: 60rem) {
  #corps {
    width: 100%;
  }
  #nav {
    display: none;
  }

}